<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Durian Sample XML Editor"
            extensions="xml"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.neighbor.durian.ui.editors.XMLEditor"
            id="com.neighbor.durian.editors.XMLEditor">
      </editor>
      <editor
            name="Durian Sample Multi-page Editor"
            extensions="mpe"
            icon="icons/sample.gif"
            contributorClass="com.neighbor.durian.ui.editors.MultiPageEditorContributor"
            class="com.neighbor.durian.ui.editors.MultiPageEditor"
            id="com.neighbor.durian.editors.MultiPageEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
           name="Neighbor System"
            id="com.neighbor.durian.importWizards.sampleCategory">
      </category>
      <wizard
            name="Durian Import File"
            icon="icons/sample.gif"
            category="com.neighbor.durian.importWizards.sampleCategory"
            class="com.neighbor.durian.ui.importWizards.ImportWizard"
            id="com.neighbor.durian.importWizards.ImportWizard">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Neighbor System"
            id="com.neighbor.durian">
      </category>
      <wizard
            category="com.neighbor.durian"
            class="com.neighbor.durian.ui.wizards.project.DurianProjectWizard"
            icon="icons/sample.gif"
            id="com.neighbor.durian.wizards.newWizard"
            name="New Durian Project Wizard"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Durian Sample Preferences"
            class="com.neighbor.durian.preferences.SamplePreferencePage"
            id="com.neighbor.durian.preferences.SamplePreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.neighbor.durian.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="Durian Sample Page"
            nameFilter="*.*"
            class="com.neighbor.durian.ui.properties.SamplePropertyPage"
            id="com.neighbor.durian.properties.samplePropertyPage">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Neighbor System"
            id="com.neighbor.durian">
      </category>
      <view
            name="Durian Sample View"
            icon="icons/sample.gif"
            category="com.neighbor.durian"
            class="com.neighbor.durian.ui.views.SampleView"
            id="com.neighbor.durian.views.SampleView">
      </view>
      <view
            category="NeighborPluginProject"
            class="com.neighbor.durian.ui.neighborview.NeighborExplorerPart"
            id="com.neighbor.durian.ui.neighborview.NeighborExplorer"
            name="Neighbor Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.neighbor.durian.ui.perspectives.NeighborEngPerspective"
            icon="icons/releng_gears.gif"
            id="com.neighbor.durian.perspectives.NeighborEngPerspective"
            name="Neighbor Development">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.neighbor.durian.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="com.neighbor.durian.commands.category"
            id="com.neighbor.durian.commands.sampleCommand1"
            name="Command 1">
      </command>
      <command
            categoryId="com.neighbor.durian.commands.category"
            id="com.neighbor.durian.commands.sampleCommand2"
            name="Command 2">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.neighbor.durian.handlers.SampleHandler"
            commandId="com.neighbor.durian.commands.sampleCommand2">
      </handler>
      <handler
            class="com.neighbor.durian.handlers.SampleHandler"
            commandId="com.neighbor.durian.commands.sampleCommand1">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.neighbor.durian.commands.sampleCommand1"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
      <key
            commandId="com.neighbor.durian.commands.sampleCommand2"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.neighbor.durian.menus.sampleMenu"
               label="Neighbor Menu"
               mnemonic="M">
            <command
                  commandId="com.neighbor.durian.commands.sampleCommand1"
                  id="com.neighbor.durian.menus.sampleCommand1"
                  mnemonic="S"
                  style="push">
            </command>
            <command
                  commandId="com.neighbor.durian.commands.sampleCommand2"
                  id="com.neighbor.durian.menus.sampleCommand2"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.neighbor.durian.toolbars.sampleToolbar">
            <command
                  commandId="com.neighbor.durian.commands.sampleCommand1"
                  icon="icons/sample.gif"
                  id="com.neighbor.durian.toolbars.sampleCommand1"
                  tooltip="Say hello world 1">
            </command>
            <command
                  commandId="com.neighbor.durian.commands.sampleCommand2"
                  icon="icons/sample.gif"
                  id="com.neighbor.durian.toolbars.sampleCommand2"
                  tooltip="Say hello world 2">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
